@font-face {
font-family: Evolventa;
src: url('../../fonts/Evolventa Bold.eot');
src: local('../../fonts/Evolventa-Bold'), local('../../fonts/Evolventa-Bold'),
      url('../../fonts/Evolventa-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Evolventa-Bold.woff2') format('woff2'),
      url('../../fonts/Evolventa-Bold.woff') format('woff'),
      url('../../fonts/Evolventa-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}


@font-face {
font-family: Evolventa;
src: url('../../fonts/Evolventa Regular.eot');
src: local('../../fonts/Evolventa-Regular'), local('../../fonts/Evolventa-Regular'),
      url('../../fonts/Evolventa-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Evolventa-Regular.woff2') format('woff2'),
      url('../../fonts/Evolventa-Regular.woff') format('woff'),
      url('../../fonts/Evolventa-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}



