@import "_vars.scss";
@import "_fonts.scss";
@import "_keyframes.scss";
*,
*:before,
*:after {
   box-sizing: border-box;
}
ul, ol, p {
   padding: 0;
   margin: 0;
}
h1,
h2,
h3,
h4,
h4,
h5 {
   margin: 0;
}

body {
   margin: 0;
   overflow-x: hidden;
   font-family: "Evolventa";
   font-weight: 400;
   background: #fff;
   font-size: 16px;
   color: #205285;


   -webkit-font-smoothing: antialiased;

   &.fixed {
      overflow: hidden;
   }
}

.container {
   max-width: 1130px;
   padding: 0 10px;
   width: 100%;
   margin: 0 auto;
}


.section__heading {
   position: relative;
   width: 100%;

   span.section__heading-title {
      position: relative;
      font-size: 32px;
      color: #205285;
      padding: 0 29.5px;
      background-color: #fff;
      
      margin: 0 auto;
      z-index: 1;
   }

   &:before {
      content: "\a";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #205285;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 0;
   }
}




// BLOCKS =============================================
@import "_buttons.scss";
@import "_header.scss";
@import "_swiper.scss";
@import "_popups.scss";
// @import "intro.scss";
// @import "navigation.scss";
// @import "sliders.scss";
// @import "accordion.scss";
// @import "more.scss";
// @import "about.scss";
// @import "videos.scss";
// @import "form.scss";
// @import "footer.scss";
// @import "communication.scss";
// @import "popups.scss";
// @import "errors.scss";
// @import "rgsu-life.scss";
// @import "department.scss";
// @import "events.scss";
// @import "payment.scss";
// @import "all-faculties.scss";

//THEMES ======================================================
// @import "themes/themes.scss";
// @import "themes/theme-text-size.scss";
// @import "themes/theme-colors.scss";
// @import "themes/theme-none-images.scss";